/*                                                                                                                                                                                                   
*/

:root {
  --ocean-bg: url(https://devevil.com/betterdiscord/ocean-background.png);
  --ocean-home-icon: url(https://devevil.com/betterdiscord/ocean-home-icon.png);
  --ocean-color1: #00d5ce;
  --ocean-color2: #0a173a;
  --ocean-color3: #1487b1;
  --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 150deg;
  --watermark-filter-brightness: 100%;
  --watermark-filter-contrast: 200%;
  --ocean-emoji-picker-color: 150deg;
}

.app_de4237 {
  background-image: var(--ocean-bg);
  background-size: cover;
}

.bg__12180 {
  background-color: transparent;
}

#app-mount .layer_f7d46a  {
  background-color: transparent;
}

body,
#app-mount,
#app-mount .app_b1f720,
#app-mount .app_de4237,
#app-mount .container__827e6.fixClipping-3GOd_d,
#app-mount .wrapper__77675,
#app-mount .bg__12180,
#app-mount .layer_f7d46a ,
#app-mount .container__7e23c,
#app-mount .privateChannels__9b518,
#app-mount .panels__58331 > *,
#app-mount .chat__52833,
#app-mount .container__694a1,
#app-mount .wrapper__11501,
#app-mount .noChat_fed339,
#app-mount .members__573eb,
#app-mount .members__573eb > div,
#app-mount .container_bd15da,
#app-mount .applicationStore__444b9,
#app-mount .pageWrapper_c182d3,
#app-mount .scrollerBase-_bVAAt,
#app-mount .standardSidebarView__12528,
#app-mount .contentRegion__08eba {
	background-color: transparent;
}
#app-mount .children_cde9af:after {
	display: none;
}
#app-mount .wrapper__216eb {
	background-color: transparent;
}
#app-mount .container__26baa.themed_b152d4,
#app-mount .sidebarRegion__36437,
#app-mount .sidebar_e031be,
#app-mount .panels__58331,
#app-mount .membersWrap__5ca6b,
#app-mount .nowPlayingColumn_b025fe {
	background-color: transparent;
}

.theme-dark .scroller_de945b {
	background: transparent;
}

.chatContent_f087cb {
  background-color: transparent;
}

.theme-dark .scroller__89969 {
  background-color: transparent;
}

.titleBar__710b0 {
  background-image: var(--ocean-bg);
}

.sidebarRegionScroller__8113e, .contentRegionShownSidebar__9d1b9 {
  background-color: transparent;
}

.searchBar__621ec {
  background-color: transparent;
}
.searchBar__621ec .searchBarComponent__8f95f {
  background-color: transparent;
  border-radius: 20px;
}

.form_d8a4a1 .channelTextArea_c2094b .textArea_a86690 .placeholder__443e5 {
  color: var(--ocean-color2);
}

.scrollableContainer_ff917f {
  background: linear-gradient(-45deg, var(--ocean-color3), var(--ocean-color1));
}

.container_debb33 .button_ae40a4:nth-child(1) .contents-18-Yxp path {
  fill: var(--ocean-color1);
}

.container_debb33 .button_ae40a4:nth-child(2) .contents-18-Yxp path {
  fill: var(--ocean-color1);
}

.container_debb33 .button_ae40a4:nth-child(3) .contents-18-Yxp path {
  fill: var(--ocean-color1);
}

.container_debb33 .button_ae40a4:nth-child(4) .contents-18-Yxp path {
  fill: var(--ocean-color1);
}
.sprite__294b3 {
  filter: hue-rotate(var(--ocean-emoji-picker-color)) !important;
}
.attachButton__56f98 .contents-18-Yxp path {
  fill: var(--ocean-color2);
}
.attachButton__56f98:hover .attachButtonPlus_fd0021 {
  fill: var(--ocean-color2);
}
.button-38aScr .contents-18-Yxp path {
  color: var(--ocean-color1);
}

.cozyMessage__9f4fd .contents_d3ae0d > .markup_a7e664:not(:empty) {
  background-color: var(--ocean-color1);
  color: var(--ocean-color2);
  display: inline-block;
  max-width: 650px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 8px;
  border-radius: 15px;
}

.markup_a7e664 blockquote, .markup_a7e664 pre {
  max-width: 100%;
}



.childWrapper_a6ce15 path {fill: transparent}
.childWrapper_a6ce15 {
background: var(--ocean-home-icon) center/cover no-repeat;
min-width: 55px;
min-height: 55px;
}

.name__7afe8 {
  color: var(--ocean-color1);
}
.title__84e16 {
  color: var(--ocean-color1);
}
.children_cf6731 {
  color: var(--ocean-color1);
}
.headerText__88997 {
  color: var(--ocean-color1);
}
.clickable_ce0925 .icon_ae0b42 {
  color: var(--ocean-color1);
}
.clickable_ce0925:hover .icon_ae0b42 {
  color: var(--darkplus-links);
}

.linkButtonIcon_cff89e path {
  color: var(--ocean-color1);
}
.container__3673d {
  background: transparent;
}
.item_e4ca95.item-3XjbnG.themed-2-lozF {
  color: var(--ocean-color2);
}
.item_e4ca95[aria-label="Add Friend"] {
  color: var(--ocean-color2) !important;
  background-color: var(--ocean-color1) !important;
}

.quickswitcher_b5bb0a {
  background-image: var(--ocean-bg);
}
.input__2a648 {
  background-color: transparent;
}
.scroller_d4b86c {
  background-color: transparent;
}
.input__2a648::placeholder {
  color: var(--ocean-color2);
}
.header__794a7 {
  color: var(--ocean-color2);
}
.match_a540b5 {
  color: var(--ocean-color2);
}
.note__181ba {
  color: var(--ocean-color2);
}
.miscContainer_f977de {
  color: var(--ocean-color2);
}
.colorStandard-21JIj7 {
  color: var(--ocean-color1);
}
.anchor-1MIwyf {
  color: var(--ocean-color2);
}
.username__9d688 {
  color: var(--ocean-color2);
}
.icon_ae0b42 {
  color: var(--ocean-color1);
}
.actionButton__2b4bb {
  background-color: var(--ocean-color1);
  color: var(--ocean-color2);
}

.actionButton__2b4bb:hover {
  background-color: var(--ocean-color1);
  color: var(--ocean-color2);
}
.actionButton__2b4bb.highlight__57b9f {
  background-color: var(--ocean-color1);
}

.username__267df {
  color: var(--ocean-color2);
}

.wrapper__3c6d5 {
  background-color: transparent;
  border: none;
}
.wrapper__3c6d5:hover,
.wrapper__3c6d5.active__76f42 {
  background-color: transparent !important;
}
.wrapper__3c6d5 .inset__61d5b {
  background-color: transparent;
}
.wrapper__3c6d5 .section__253ec {
  background-color: transparent;
}
.numberBadge__40d6f {
  background-color: var(--ocean-color1) !important;
  color: var(--ocean-color2);
}
.expandedFolderBackground-1cujaW {
  background-color: transparent;
}
.expandedFolderIconWrapper-Huv7rA {
  background-color: #96e6e3;
}
.item_f9d377 {
  background-color: var(--ocean-color1);
}
.acronym_fb7739 {
  background-color: var(--ocean-color1);
  color: var(--ocean-color2);
}
.circleIconButton__05cf2 {
  color: var(--ocean-color2);
  background-color: var(--ocean-color1);
}
.circleIconButton__05cf2.selected_aded59 {
  color: var(--ocean-color1);
  background-color: var(--ocean-color2);
}
.mention_dd733a {
  background-color: var(--ocean-color1);
}
.mentioned_fa6fd2 {
  background-color: rgba(var(--ocean-color1), 0.1) !important;
}
.mentioned_fa6fd2:before {
  background-color: var(--ocean-color1);
}
.mentioned_fa6fd2:hover {
  background-color: rgba(var(--ocean-color1), 0.2) !important;
}
.discriminator__463fe {
  color: var(--ocean-color2);
}
.scroller-1bVxF5 {
  background-color: var(--ocean-color1);
}
.label-2gNW3x {
  color: var(--ocean-color2);
}
.colorDefault-CDqZdO.focused-3qFvc8 {
  background-color: var(--ocean-color3);
  color: var(--ocean-color1);
}

.header_c56a27 {
  color: var(--ocean-color1);
}

.icon__5c8c7 {
  height: 24px;
  width: 24px;
  color: var(--ocean-color1);
}
.iconContainer__9f124 {
  bottom: 5px;
}
.search__07df0 {
  margin-left: 0px;
}

.searchBar-zdmu7v {
  background-color: transparent;
}

.membersGroup_cad095 {
  color: var(--ocean-color2);
  text-align: center;
}
button[aria-label="Send a gift"] {
  display: none;
}

.typeWindows_e41dab {
  position: relative;
}

.wordmark__5b8c9 {
  display: flex;
  align-items: center;
  padding: 0 6px;
  height: calc(100% + 4px);
  top: -4px;
  width: fit-content;
  font-size: 14px;
  font-weight: 600;
  font-family: "Lato";
  color: var(--ocean-color1);
}
.wordmark__5b8c9 > svg {
  display: none;
}

.wordmark__5b8c9:after {
  filter: invert(var(--watermark-filter-invert)) sepia(var(--watermark-filter-sepia)) saturate(var(--watermark-filter-saturate)) hue-rotate(var(--watermark-filter-hue-rotate)) brightness(var(--watermark-filter-brightness)) contrast(var(--watermark-filter-contrast));
  content: "by mlodyharry xppp";
}
.channelName-3KPsGw,
.subtitle_eb6026 {
  color: var(--ocean-color1);
}

.categoryIcon_d0a396 {
  color: var(--ocean-color1);
}
.header__8e271 {
  color: var(--ocean-color1);
}
.iconBadge-3qSJIw.participating-1NvRVd {
  background-color: var(--ocean-color1);
}
.botTagRegular_c89c9a {
  color: var(--ocean-color2);
  background-color: var(--ocean-color1);
}
.unread__48cf4 {
  background-color: var(--ocean-color2);
}
.icon__67ab4 {
  color: var(--ocean-color1);
}
.modeSelected__473f1 .icon__67ab4,
.modeSelected__473f1:hover .icon__67ab4,
.modeUnreadImportant__35358 .icon__67ab4,
.modeUnreadImportant__35358:hover .icon__67ab4 {
  color: var(--ocean-color2);
}

.iconBadge__20a6b {
  background-color: var(--ocean-color2);
}

.resultsGroup-1BPR25 {
  background-image: var(--ocean-bg);
  color: var(--ocean-color1);
}
.barButtonMain__984b4 {
  background-color: var(--ocean-color2);
  color: var(--ocean-color1);
}
.barButtonAlt_e800ef {
  background-color: var(--ocean-color2);
  color: var(--ocean-color1);
}
.theme-dark .option-2KkUJO:after {
  background: transparent;
}
#app-mount .container__84c26 .option-2KkUJO .plusIcon-2V7coV {
  color: var(--ocean-color1);
}
#app-mount .container__84c26 .option-2KkUJO.selected-rZcOL- {
  background: var(--ocean-color2);
}
.overflow__993fa {
  color: var(--ocean-color1);
}

.icon__3aa8e {
  color: var(--ocean-color1);
}
.actionIcon_b149a2 {
  color: var(--ocean-color1);
}

.icon-E4cW1l {
  color: var(--ocean-color2);
}

.accountProfileCard__744d8 {
  background-color: var(--ocean-color1);
}

.background__4e802 {
  padding: 0;
  background-color: var(--ocean-color2);
  border-radius: 30px;
}
.background__4e802 .profile_d6fbe8 {
  padding: 16px;
}
.background__4e802 .fieldList__4e6dd {
  padding: 16px;
  background-color: transparent;
}
.background__4e802 .constrainedRow__72f7a .button-38aScr {
  margin-left: 8px;
}

.defaultColor-2cKwKo {
  color: var(--ocean-color2);
}
.field__69fa0 > div > div > div {
  filter: blur(5px);
}
.field__69fa0 > div > div > div:hover {
  filter: blur(0);
}

.colorHeaderPrimary-jN_yGr {
  color: var(--ocean-color1);
}

.username__7d629,
.discriminator__40a5c,
.overflowMenuIcon_a3868f {
  color: var(--ocean-color2);
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
  color: var(--ocean-color2);
  background-color: var(--ocean-color1);
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
  background-color: var(--ocean-color1);
}
.size16-rrJ6ag {
  color: var(--ocean-color1);
}

.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6 {
  color: var(--ocean-color1);
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
  color: var(--ocean-color1);
  background-color: var(--ocean-color2);
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
  color: var(--ocean-color1);
  background-color: var(--ocean-color2);
}

.description-30xx7u,
.labelDescriptor-34wZ-z {
  color: var(--ocean-color2);
}

.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
.topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
  color: var(--ocean-color1);
}
.side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP),
.topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP) {
  color: var(--ocean-color1);
}
.item-3XjbnG.themed-2-lozF {
  color: var(--ocean-color1);
}

.header-2Kx1US {
  color: var(--ocean-color1);
}

.theme-dark .closeButton__8177f {
  border-color: var(--ocean-color1);
}
.winButton_f17fb6 {
  color: var(--ocean-color2);
}
.wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15,
.wrapper__8436d:hover .childWrapper_a6ce15 {
  background-color: var(--ocean-color2);
  color: var(--ocean-color1);
}
#bd-pub-button {
  background-color: var(--ocean-color2);
  color: var(--ocean-color1);
  font-weight: bold;
}
#bd-pub-button:hover {
  background-color: var(--ocean-color1);
  color: var(--ocean-color2);
  font-weight: bold;
}
.button-Jt-tIg {
  background-color: var(--ocean-color2);
  color: var(--ocean-color1);
  font-weight: bold;
}

.modeMuted_f0a72e .icon__67ab4,
.modeMuted_f0a72e .name__4eb92 {
  color: #1a2a55;
}
.interactive:hover {
  color: var(--ocean-color2);
}

.button__84b6b {
  color: var(--ocean-color2);
}
.emptyCard__204d9 {
  background-color: transparent;
}
.emptyText__18c2a {
  color: var(--ocean-color2);
}
.header__6ddae {
  color: var(--ocean-color1);
}
.description-1EvxpH {
  color: var(--ocean-color2);
}
.theme-dark .text__0e310,
.theme-dark .title__496be {
  color: var(--ocean-color2);
}
.markup_a7e664 code.inline {
  color: var(--ocean-color1);
}
.markup_a7e664 a {
  color: var(--ocean-color2);
}
.topic__16ae3.expandable__8804d {
  color: var(--ocean-color2);
}
#private-channels [href="/discovery"] {
  display: none;
}

#private-channels [href="/library"] {
  display: none;
}

#private-channels [href="/store"] {
  display: none;
}

.body-2wLx-E,
.headerTop-3GPUSF,
.activity-1gTu-L,
.base-21yXnu.muted-eZM05q,
.note-Go5ZP2,
.bodyInnerWrapper-2bQs1k,
.footer__86f19 {
  background-image: var(--ocean-bg);
}

.grid__35551 {
  background-color: var(--ocean-color3);
}

.input-2g-os5:hover {
  background-color: var(--ocean-color2);
}

.input__2c88a {
  background-color: var(--ocean-color2);
}
.bodyTitle-2Az3VQ {
  color: var(--ocean-color2);
}

.base-21yXnu.muted-eZM05q,
.discrimBase-1VOoau {
  color: var(--ocean-color2);
}
.body-1Ukv50,
.topSection-13QKHs {
  background-image: var(--ocean-bg);
}

.top-K_jibn .item-3XjbnG {
  border-bottom-color: var(--ocean-color1);
}

.connectedAccountName-j0meX4,
.connectedAccountOpenIcon-1yfBsb,
.userInfoSectionHeader-2mYYun,
.discriminator-1bqsd3,
.additionalActionsIcon-3Cy8UU {
  color: var(--ocean-color2);
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
  background-color: var(--ocean-color1);
  color: var(--ocean-color2);
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
  background-color: var(--ocean-color1);
}

.attachment__06ca3 {
  background-color: var(--ocean-color1);
  border-color: var(--ocean-color1);
  border-radius: 20px;
}
.downloadButton__3fb6d {
  color: var(--ocean-color2);
}

.cozy_f5c119 .timestamp_c79dd2,
.content__7191e,
.label_cc1319 {
  color: var(--ocean-color2);
}
.button_d4bf9b,
.button_d4bf9b:hover,
.button_d4bf9b.selected__74fee {
  color: var(--ocean-color2);
  background-color: var(--ocean-color1);
}
.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6 {
  color: var(--ocean-color2);
  border-color: var(--ocean-color2);
  border-radius: 50px;
}

.h5-2RwDNl,
.icon__34dc7,
.title-2dsDLn,
.person-1w1dG9,
.roleName-35qCvR,
.arrow_a1ef64,
.description-33gMJs,
.helpText-10IgPC {
  color: var(--ocean-color2);
}
.circleButton-33AIyY + .circleButton-33AIyY,
.roleRow-3LoHQ6:hover:not(.roleRowDisableHover-2TXfy-) .editButton-2P76Jg,
.roleRow-3LoHQ6:hover:not(.roleRowDisableHover-2TXfy-) .circleButton-33AIyY {
  background-color: var(--ocean-color2);
  color: var(--ocean-color1);
}
.icon_fb52f0 {
  color: var(--ocean-color1);
}
.container__9c57c {
  background-color: transparent;
}

.icon_add68a {
  color: var(--ocean-color1);
  background-color: var(--ocean-color2);
}

.input__48d49,
.medium__5b9a9.iconLayout__67261 {
  background-color: var(--ocean-color2);
}

.contentWrapper_e0bb2c,
.categoryList_eac4ac {
  background-image: var(--ocean-bg);
}
.header__3028e {
  background-color: transparent;
}
.titlePrimary__28204,
.titleSecondary_ebfe3c {
  color: var(--ocean-color2);
}
.inspector__7b643 {
  background-color: transparent;
}
.icon-3jQD8H {
  color: var(--ocean-color2);
}
.unicodeShortcut__01a83 {
  color: var(--ocean-color1);
}
.categoryItemDefaultCategorySelected__7d6e0,
.categoryItemDefaultCategorySelected__7d6e0:hover {
  background-color: var(--ocean-color2);
  color: var(--ocean-color1);
}

.navButtonActive__0c878,
.stickerCategoryRecentIcon-16VgYU {
  background-color: var(--ocean-color2);
  color: var(--ocean-color1);
}
.navButton_b588d0 {
  color: var(--ocean-color1);
}
.navButton_b588d0:hover {
  color: var(--ocean-color3);
}
.packHeader__8c477,
.inspector__80c84,
.categoryList_a35b58 {
  background-color: transparent;
}

.theme-dark .root_a28985 {
  background-image: var(--ocean-bg);
}

.theme-dark .footer-31IekZ {
  background-color: transparent;
}

.headerText-1_rOfs,
.selectedIcon-1JOfpo,
.ellipsisText-jQS2Ek,
.channelIcon-1su68_,
.channelName-GgHzXu {
  color: var(--ocean-color1);
}

.theme-dark .selected-2xa993 {
  color: var(--ocean-color1);
  border-bottom: var(--ocean-color1);
}

.card-1SdQ2-,
.popout-1KHNAq,
.option-2eIyOn[aria-selected="true"],
.option-2eIyOn.focused-ODgjnC,
.option-2eIyOn:focus,
.option-2eIyOn:hover {
  background-color: var(--ocean-color2);
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6,
.lookFilled-1GseHa.select-1Ia3hD {
  background-color: var(--ocean-color1);
  color: var(--ocean-color2);
}

.header-1c1AhF {
  background-image: var(--ocean-bg);
}

.container-x8Y1ix,
.categoryItem-1QIroW.selectedCategoryItem-FHKU_o .itemInner-gPkiWb {
  background-color: var(--ocean-color2);
}

.arrow-2yY1Tm,
.subtitle-3m-md1,
.title-1_TkpU,
.footerTitle-3Bslxi,
.avatar__6337f,
.clear__70411 .icon__5c8c7,
.tab-2j5AEF,
.roundButton-2_R5PN {
  color: var(--ocean-color1);
}

.searchHeader__4d70e,
.scroller__5f036,
.header__21b33,
.messagesPopout__28784,
.container__4a36d,
.uploadModal__6eb75 {
  background-image: var(--ocean-bg);
}
.message__7e601 {
  background-color: var(--ocean-color2);
}

.channelName-3w2Y3c {
  background-color: transparent;
}
.theme-dark .tab-2j5AEF.selected-2LAck8,
.theme-dark .activeButton-LRWFC_,
.theme-dark .activeButton-LRWFC_:hover,
.theme-light .activeButton-LRWFC_,
.theme-light .activeButton-LRWFC_:hover,
.endButton-oUxeLG:last-child {
  background-color: var(--ocean-color2);
  color: var(--ocean-color1);
}

.messageGroupWrapper__1fce2 .messageGroupCozy__9d016,
.theme-dark .header__58a85 .tabBar__2aa8e .tab_a8a066.active__7e7af,
.messageContainer_cb3d47,
.channelHeader_ea0f89 {
  background-color: var(--ocean-color2);
}

.title__84e16,
.header__748f0,
.addButtonIcon_d9a52c,
.username_a42504,
.icon__1e4c2,
.activityText__31c22,
.status__0fce8,
.description__38e73,
.customText__96023 {
  color: var(--ocean-color2);
}

.full-motion .button__292b6 {
  background-color: var(--ocean-color1);
  color: var(--ocean-color2);
}

.theme-dark .footer_f06dbb {
  background-color: transparent;
}

.popoutInfo-pKbpvG {
  background-image: var(--ocean-bg);
}

.wrapper__71278 {
  color: var(--ocean-color1);
}

.users__65981 , .total_c01838 {
  background-color: var(--ocean-color2);
}

.unread__75c9f {
  background-color: var(--ocean-color1);
  color: var(--ocean-color2);
}

.unreadPill__1b4fa {
  background-color: var(--ocean-color1);
}

.unreadPillCapStroke__89d64 {
  color: var(--ocean-color1);
  fill: var(--ocean-color1);
}

.divider__855e3 {
  border-color: var(--ocean-color1);
}
#permissions-modal-wrapper .header, #permissions-modal-wrapper .perm-side, #permissions-modal-wrapper .role-side {
  background-image: var(--ocean-bg);
}

.replyBar_ed6afc {
  background-color: var(--ocean-color1);
}
.replyLabel__84289, .closeIcon_f5a44a {
  color: var(--ocean-color2);
}

.theme-dark .searchOption-351dTI .filter-5YbOzJ, .theme-dark .searchOption-351dTI .answer-2fBfuP, .resultsGroup-1BPR25 .header-3A13BX {
  color: var(--ocean-color1);
}

.container_f79ab4 {
  background-color: transparent !important;
}

.button__437ce, .button_ae40a4 {
  color: var(--ocean-color1);
}

.attachButtonPlus_fd0021 {
  fill: var(--ocean-color2);
}

.wrapper__6bf2d.minimum__7f356 {
  background-color: transparent;
}

.button_b82d53.buttonColor__7bad9,
.button_b82d53.buttonColor__7bad9:hover, .button_b82d53 .buttonColor__7bad9:hover, .colorable__4f530.primaryDark_ec74a7, .colorable__4f530.primaryDark_ec74a7.active_ff29dc, .colorable__4f530.primaryDark_ec74a7:hover {
  background-color: var(--ocean-color1);
  color: var(--ocean-color2);
}

.item-1OdjEX {
  color: var(--ocean-color1);
}

.fontSize16Padding_bcbeae, .name_f842e4 {
  color: var(--ocean-color2);
}

.clickable__03a29:hover .layout_bb8e67, .member_b44d5d, .members__573eb {
  background-color: transparent;
}

.container-3wLKDe {
  background-color: transparent;
}

.mainCard__0ec2c,.mainCard__0ec2c:hover {
  background-color: var(--ocean-color1);
}

.theme-dark .form_d8a4a1:before {
    background: transparent !important;
}

.postTitleText-2ARr84,.messageContent-1SOr75 {
  color: var(--ocean-color2) !important;
}

.chat__52833, .chatContent_f087cb, .members__573eb, .member_b44d5d, .container_f79ab4 {
  background-color: transparent !important;
}

.content__7191e {
  background-color: var(--ocean-color1);
}

.container__68e43 {
  background-color: transparent;
}

.divider__4df9f {
  background-color: transparent;
}

.headerText_e86b38, .sidebar__02e8d .side_b4b3f6 .item__48dda, .bd-sidebar-header h2 {
  color: var(--ocean-color1);
}

::-webkit-scrollbar {
  width: 3px !important;
  height: 8px !important;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  border-color: transparent !important;
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  border: none !important;
  background-clip: content-box !important;
  background: var(--ocean-color1) !important;
}

::-webkit-scrollbar-corner {
  visibility: hidden !important;
}

.scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar,
.scrollerThemed-2oenus.themeHidden-2yP93k
  .scroller-2FKFPG::-webkit-scrollbar-corner,
.scrollerThemed-2oenus.themeHidden-2yP93k
  .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themeHidden-2yP93k
  .scroller-2FKFPG::-webkit-scrollbar-track {
  display: none !important;
}

::selection {
  background-color: var(--ocean-color2);
  color: var(--ocean-color1);
}
